* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(183, 245, 226);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 5px;
  padding: 40px;
}
.todo__form {
  display: flex;
  gap: 5px;
  padding-bottom: 40px;
}
.todo__form input {
  width: 80%;
  padding: 0 5px;
  outline: none;
  border: 2px solid rgb(145, 232, 206);
  border-radius: 5px;
}
.todo__form input::placeholder {
  color: rgb(179, 243, 224);
}
.todo__form button {
  padding: 5px 30px;
  background: rgb(145, 232, 206);
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  transition: all linear 0.5s;
}
.todo__form button:hover {
  background: white;
  border: 2px solid rgb(145, 232, 206);
  color: rgb(145, 232, 206);
}
.todo ul li {
  list-style: none;
  width: 100%;
  background: rgb(179, 243, 224);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 7px 0;
}
.todo .delete {
  width: 20px;
}
.todo .remove {
  display: none;
}

/*# sourceMappingURL=style.css.map */
